// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin title-bar($color) {
  padding: 4px 10px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  background-color: $color;
  border: 1px solid lighten($color, 20%);
  border-width: 1px;
  border-style: solid;
  border-color: lighten($color, 50%) darken($color, 20%) darken($color, 20%) lighten($color, 50%);
  color: #666 + $color;
}

body.resumes {
  // Place scoped styles here
  .sub {
    margin-left: 10px;
  }
  
  .category {
    h2 {
      @include title-bar(#444);
    }
    p {
       margin-left: 20px;
    }
    .category {
      margin-left: 20px;
      h2 {
        @include title-bar(#ddd);
      }
    }
  }
    
  h4 {
    border-bottom: 1px solid #555;
    padding-right: 0px;
  }
  
  .date {
    float: right;
    text-transform: none;
  }

  .current {
    font-style: italic;
  }
  
  table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    th {
      background-color: #ebebeb;
      min-width: 60px;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 4px 8px;
    }
  }
  
  ul {
    list-style: circle;
  }
}
  











