// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$base-color: #444;

@mixin title-bar($color) {
  padding: 4px 10px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  background-color: $color;
  border: 1px solid lighten($color, 20%);
  border-width: 1px;
  border-style: solid;
  border-color: lighten($color, 50%) darken($color, 20%) darken($color, 20%) lighten($color, 50%);
  color: #666 + $color;
}

@mixin gradient($start, $end) {
  background: $start;
  background: -webkit-gradient(linear, left top, left bottom, from($start), to($end)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  $start,  $end); /* for firefox 3.6+ */
}

::selection {
  background: $base-color; /* webkit */
  color: #fff - $base-color;
  text-shadow: none;
}
::-moz-selection {
  background: $base-color; /* Firefox */
  color: #fff - $base-color;
  text-shadow: none;
}

body.resumes {
  @include gradient(#fefefe, #dedede);
  header {
    @include gradient(#dedede, #cbcbcb);
    color: #444;
    position: relative;
    z-index: 100;
    overflow: hidden;
    clear: both;
    width: 100%;
    #header {
      overflow: hidden;
      width: 960px;
      padding: 23px 0 5px;
      text-shadow: 1px 1px 0 #F8F8F8;
      #info {
        overflow: hidden;
        float: left;
        width: 342px;
        margin: 0 20px 0 0;
        h1 {
          width: 100%;
          margin: 0 0 12px;
          padding: 0 0 8px;
          border-bottom: 2px groove #dedede;
          font: 20px/30px Helvetica, Arial, sans-serif;
          color: #333;
          text-transform: uppercase;
          text-align: right;
        }
        p {
          text-align: right;
        }
        p:last-child {
          margin: 0 0 20px 20px;
        }
      }
      #intro {
        overflow: hidden;
        float: left;
        width: 598px;
      }
    }
  }
  #shadow {
    position: relative;
    z-index: 100;
    overflow: hidden;
    clear: both;
    height: 25px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0))); /* for webkit browsers */
  }
  footer {
    width: 100%;
    background-color: #555;
    padding: 6px 0;
  }
  #wrapper {
    position: relative;
    width: 960px;
    #sidebar {
      z-index: 10;
      height: auto;
      width: 342px;
      position: fixed;
      top: auto;
      #avatar {
        z-index: 0;
        height: 125px;
        width: 342px;
        position: absolute;
        top: -170px;
        margin: 0 0 45px;
        img {
          border: 1px solid #CCC;
          padding: 5px;
          margin: 0 0 20px;
          background-color: #EBEBEB;
          float: right;
          height: 125px;
        }
      }
      #navMain {
        position: relative;
        z-index: 1000;
        overflow: hidden;
        width: 100%;
        padding: 1px 0 0 0;
        li {
          display: block;
          text-align: right;
          margin: 0 0 7px;
          a {
            @include title-bar($base-color);
            padding: 2px 8px;
            text-decoration: none;
          }
        }
      }
      #networkLinks {
        clear: both;
        margin: 45px 0 20px;
        text-align: right;
      }
    }
    #content {
      min-height: 700px;
      position: relative;
      float: right;
      width: 578px;
      margin: 0 0 20px;
      top: 0;
    }
  }
  .category {
    margin-bottom: 10px;
    h2 {
      @include title-bar($base-color);
      font: normal 18px/24px Helvetica, Arial, sans-serif;
      width: 578px;
      margin: 0 0 16px -20px;
      padding: 2px 10px;
    }
    ul {
      list-style: circle;
      margin-left: 20px;
    }
    .category {
      margin-left: 20px;
      h2 {
        @include title-bar(#fff - $base-color);
        font: bold 14px/20px Helvetica, Arial, sans-serif;
      }
    }
  }
    
  h4 {
    border-bottom: 1px solid #555;
    padding-right: 0px;
  }
  
  .date {
    float: right;
    text-transform: none;
  }

  .current {
    font-style: italic;
  }
  
  table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    th {
      background-color: #ebebeb;
      min-width: 60px;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 4px 8px;
    }
  }
}
  











