<div class="category">
  <h2><%= category.title %></h2>
  
  <div class="content">
    <%= category.content %>
  </div>

  <% if !category.children.empty? %>
    <%= render :partial => category.children %>
  <% end %>
</div>